/* typography css start */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.3;
  color: var(--color-heading);
  font-weight: 700;
  font-family: var(--font-heading);
  letter-spacing: -0.5px;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
.fw-5 {
  font-weight: 500;
}

.paste_bg {
  background: var(--primary-color) !important;
  transition: var(--transition);
  &:hover {
    background: var(--secondary-color) !important;
  }
}
.black_bg {
  background: var(--secondary-color) !important;
  transition: var(--transition);
  color: white;
  &:hover {
    background: var(--primary-color) !important;
    color: white;
  }
}
.position-inherit {
  position: inherit !important;
}
.position-initial {
  position: initial !important;
}

.pb-270 {
  padding-bottom: 270px;
}
/* typography css end */
