/*----------------------------------------*/
/*  27. 404
/*----------------------------------------*/
.xb-error {
    &__title {
        font-size: 48px;
        margin-bottom: 11px;
        @include respond(xs) {
            font-size: 35px;
        }
    }
}