/*----------------------------------------*/
/*  09. testimonial
/*----------------------------------------*/
.testimonial-bg {
    background-color: rgba(255, 244, 238, 0.60);
    @include border-radius(16px);
    margin-left: 110px;
    margin-right: 110px;
    margin-top: -160px;
    @include respond(lg) {
        margin-left: 0;
        margin-right: 0;
    }
}
.xb-testimonial {
    &__quote {
        position: absolute;
        right: -73px;
        top: -70px;
    }
    &__wrap {
        padding-top: 15px;
        padding-bottom: 45px;
    }
    &__shape {
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translateX(-50%));
        max-width: 536px;
        width: 100%;
        max-height: 643px;
        height: 100%;
        z-index: -1;
    }
    &__inner {
        padding: 0 80px;
        @include respond(md) {
            padding: 0;
        }
        .meat-testimonial-slider {
            padding: 0 30px;
            @include respond(md) {
                padding: 0;
            }
        }
    }
}
.xb-testimonial1 {
    .xb-item {
        &--inner {
            background-color: var(--color-white);
            padding: 30px 24px;
            box-shadow: 4px 4px 16px 0px rgba(120, 120, 120, 0.08);
            @include border-radius(4px);
        }
        &--quote {
            margin-bottom: 12px;
        }
        &--content {
            color: #595959;
            margin-bottom: 15px;
        }
        &--author-holder {
            .xb-star-rating li {
                font-size: 10px;
                color: var(--color-primary);
            }
        }
        &--avatar {
            margin-right: 19px;
            & > img {
                @include border-radius(50%);
                width: 46px;
                height: 46px;
                border: 2px solid #fff;
                box-shadow: 0px 1.44826px 2.89652px 0px rgba(0, 0, 0, 0.08);
            }
           
        }
        &--avatar {

        }
        &--avatar-quote {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--color-primary);
            @include border-radius(50%);
            width: 14px;
            height: 14px;
            @include center;
        }
        &--author-name {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 3px;
        }
    }
}
.xb-testimonial2 {
    .xb-item {
        &--inner {
            max-width: 424px;
            background-color: var(--color-white);
            padding: 30px 24px;
            padding-top: 0;
            @include shadow-card;
            position: relative;
        }
        &--content {
            font-size: 14px;
            line-height: 20px;
        }
        &--avatar {
            width: 64px;
            height: 64px;
            @include border-radius(50%);
            top: -30px;
            margin-bottom: -18px;
        }
        &--name {
            font-size: 18px;
            margin-bottom: 12px;
        }
        &--avatar-quote {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            background-color: #FF0766;
            @include border-radius(50%);
            @include center;
        }
        &--quote {
            position: absolute;
            top: 23px;
            right: 18px;
        }
    }
}
.xb-testimonial3 {
    .xb-item {
        &--holder {
            padding: 20px;
            background-color: var(--color-meat);
            display: inline-block;
            min-width: 312px;
            @include border-radius(0 8px 0 0);
        }
        &--img {
            @include transform(scale(.95));
            opacity: 0;
        }
        &--content {
            padding: 56px;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.22px;
            background-color: var(--color-white);
            box-shadow: 4px 4px 16px 0px rgba(120, 120, 120, 0.08);
            color: #454545;
            @include border-radius(8px);
        }
        &--name {
            font-size: 24px;
            margin-bottom: 4px;
            color: var(--color-white);
            opacity: 0;
            @include transform(translateY(20px));
        }
        &--desig {
            font-size: 14px;
            font-weight: 700;
            color: var(--color-white);
            display: inline-block;
            opacity: 0;
            @include transform(translateY(20px));
        }
        &--content-inner {
            opacity: 0;
            @include transform(translateY(20px));
        }
    }
    .xb-meat-swiper-arrow {
        right: 40px;
        position: relative;
        top: -22px;
        .xb-swiper-arrow {
            width: 40px;
            height: 40px;
            font-size: 15px;
        }
    }
}
.swiper-slide-active {
    .xb-item {
        &--name,
        &--desig,
        &--content-inner,
        &--img {
            opacity: 1;
            @include transition(.5s var(--easing));
            @include transform(translateY(0));
        }
        &--desig {
            transition-delay: .1s;
        }
        &--content-inner {
            transition-delay: .2s;
        }
    }
}